asn1ate==0.6.0
beautifulsoup4==4.6.3
ecdsa==0.13
fasteners==0.14.1
functools32==3.2.3.post2
futures==3.2.0
fuzzywuzzy==0.17.0
hidapi==0.7.99.post21
icetea==1.0.2
intervaltree==2.1.0
jsonmerge==1.5.2
jsonschema==2.6.0
lockfile==0.12.2
Logbook==1.4.1
lxml==4.2.5
manifest-tool==1.4.6
mbed-cloud-sdk==2.0.1
mbed-flasher==0.9.2
mbed-greentea==1.5.0
mbed-host-tests==1.4.4
mbed-ls==1.6.2
mock==2.0.0
monotonic==1.5
pbr==5.1.1
protobuf==3.15.0
pyasn1==0.2.3
pyelftools==0.25
pyocd==0.14.2
pyshark-legacy==0.3.8
python-dotenv==0.10.1
pyusb==1.0.2
requests==2.20.1
semver==2.8.1
sortedcontainers==2.1.0
trollius==1.0.4
yattag==1.10.1
